@page
@model US_Patent_Helper.Views.Document.CompareModel
@{

}
<head>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        var data =[
        ['common', 1.0, 1],
            ['common', 1.0, 2],
            ['Uncommon', 0.5, 3]
            ];
    </script>

    <script type="text/javascript">google.charts.load('current', { 'packages': ['corechart'] });
        //This is the code to render the pie chart
        google.charts.setOnLoadCallback(drawChart);
        //console.log("The code is running")
        //This is my code
        const results = ['common', 1.0, 1];
        console.log(results);
        var x = 0;
        var y = 0;
    


        function CountLines(commonality) {
            
            let numCommon = 0;
            let numNew = 0;
            let numDeleted = 0;
            var lineNumbers = []

            if commonality == "common" {
                    numCommon += 1;
                console.log("The number count is: " + numCommon);

                } /*else if output[0] == "new" {
                    numNew += 1;
                    console.log("The number count is: " + numNew)

                } else if output[0] == "deleted"{
                    numDeleted += 1;
                    console.log("The number count is: " + numDeleted)
                }

            }

            lineNumbers[0] = numCommon;
            lineNumbers[1] = numNew;
            lineNumbers[2] = numDeleted;

            return lineNumbers; */
            return numCommoon;

        }
        // This is where my code ends

        function drawChart() {
            CountArray = CountLines(results);
            //var CommonCount = CountArray[0]
            //var NewCount = CountArray[1]
            //var DeletedCount = CountArray[2]


            var data = google.visualization.arrayToDataTable([
                ['Commonality', '# of Lines'],
                ['Common Matter', 10],
                ['New Matter', 6],
                ['Deleted Matter', 15]
            ]);

            var options = {
                title: '% of Common, New and Deleted Matter'
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(data, options);
        }
    </script>
</head>

<h1> Document Comparison </h1>
@{
    //var greeting = "Hello, World!";
  
}

<br />
<br />

<form>


<h4> Enter the files you would like to compare: </h4>
<label for="ParentDoc"> Upload parent document </label>
<input type="file" id="parentDoc" required />
<label for="File2"> Upload the CIP </label>
<input type="file" id="cip" required />
<button type="submit" runat="server" onclick="Clicked()"id="Submit">
    Submit
</button>
</form>


<!--
    
    
    
-->
<script>
   /* 
    function Clicked()
    {
        console.log("Hello, World");

        // Code to be executed when the button is clicked

    /*
        console.log("Button Clicked");
        $.ajax({
            type: "POST",
            url: "Compare.cs/Clicked",
            data: "{}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                // Handle the response from the C# function
            }
        }); */
    //}
  
</script>

<h3> Results: </h3>



<div id="Text Results" style="height: 100px; width: 100px; border:solid;" ></div>


<div id="piechart" style="width: 900px; height: 500px;"></div>
