<!doctype html>


<head>
    <title>Test</title>
    <meta charset=utf-8>
</head>
<body>
    <h1>My Website</h1>
    <form action="/my-link/">
        <input type="submit" value="Click me" />
    </form>

    <button> <a href="/my-link/">Click me</a></button>



    <input type="button" id='script' name="scriptbutton" value=" Run Script " onclick="goPython()">

    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <script>
        function goPython(){
            $.ajax({
                url: "server.py",
             context: document.body
            }).done(function() {
             alert('finished python script');;
            });
        }
    </script>

</body>