@{
    ViewData["Title"] = "Home Page";
}

<head>
    <title> Patent Helper </title>
</head>

<body>

    <div class="text-center">
        <h1 class="display-4">Welcome to Patent Helper</h1>
        <img src="https://www.impinj.com/getmedia/1d2a2a29-ba5d-4e6a-8e8a-00a67bd2fc7c/Trademark-logo-300-300.png?width=300&height=300&ext=.png"
             width="400" height="400" />
        <br />
        <h6>To get started Click <a href="~/Document/Compare"> Here</a> </h6> 
    </div>

</body>

